<!DOCTYPE html>
<html lang="fr">
<head>
    <title> Les Personnage Biblique </title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- il faut mettre un '/' pour lui dire d'aller cherche le ficher depuis la racine  -->
    <link href="/css/bootstrap.min.css" rel="stylesheet"> 
</head>
<body>
    <div class="container">
        <a href="/">
            <h1>Mon Personnage Biblique</h1>
        </a>
        <!-- <a href="/new" class="btn btn-primary">Ajouter un Personnage Biblique</a> -->
    <br>
    <!-- definition d'un bloque  -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Personnage Biblique</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarColor02">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/new">Ajouter</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/liste">liste</a>
            </li>
            <li class="nav-item">
              <!-- <a class="nav-link" href="#">About</a> -->
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search">
            <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
      </nav>
    <br>
        {% block content %} {% endblock %}
        <hr>
        <div class="text-center">
            &copy; copyright AGUEDJOU sylas 2019
        </div>
    </div>
</body>
</html>