{% extends "layout.html" %}

{% block content %}
<h2> Les Personnages bibliques </h2>

<div class="row">
    <div class="col-sm-5"><img src="/uploads/13a96f57c5f36d50ad4c3907adc8e912" alt="abraham" style="width:100%" class="img-thumbnail"></div>
    <!-- <div class="w-100 d-none d-md-block"></div> -->
    <div class="col-sm-6"><img src="/uploads/1c3373a8a23a263c60f6b5e813544d59" alt="cross" style="width:100%" class="img-thumbnail"></div>
  
    <!-- Force next columns to break to new line at md breakpoint and up -->
    <div class="w-100 d-none d-md-block"></div>
    <div class="w-100 d-none d-md-block"></div>
  
    <div class="col-sm-5"><img src="/uploads/211f0a62497725c6d2d176e993dde92a" alt="jesus" style="width:100%" class="img-thumbnail"></div>
    <!-- <div class="w-100 d-none d-md-block"></div> -->
    <div class="col-sm-6"><img src="/uploads/cd686a2dae7118f9a2a9045d7d39137c" alt="moise" style="width:100%" class="img-thumbnail"></div>
  </div>

{% endblock %}